* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primarycolor: royalblue;
    --white: #fff;
    --black: #1e1e1e;
    --gray: #f8f8f8;
}

body {
    background-color: var(--gray);
    font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    color: var(--primarycolor);
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    text-transform: capitalize;
}

h1::before {
    content: '';
    width: 50%;
    height: 4px;
    border-radius: 10px;
    background-color: var(--primarycolor);
    position: absolute;
    bottom: -10px;
    left: calc(25%);
}

.review-div {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
}

.review-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    margin: auto;
    z-index: 2;
    margin-bottom: 10px;
}

.review-img::before {
    background-color: var(--primarycolor);
    top: -10px;
    left: -5px;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    content: "\f6b0";
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "bootstrap-icons";
    font-size: 1.5rem;
    color: var(--white);
}

.review-img::after {
    background-color: var(--primarycolor);
    left: 0px;
    bottom: 0px;
    position: absolute;
    width: 105%;
    height: 105%;
    border-radius: 50%;
    content: '';
    z-index: -1;
    display: block;
}

.review-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}