* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.container {
    text-align: center;
    padding: 50px 20px;
}

.container h1 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.tabs-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.img-section {
    width: 100%;
    height: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 10%);
    display: block;
    padding: 20px;
}

.img-section>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.tab-container {
    width: 100%;
    height: 100%;
    max-width: 400px;
}

.tab-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-btns .btns {
    border: none;
    flex: 1;
    padding: 10px;
    background-color: #D8644F;
    color: #fff;
    cursor: pointer;
    border: 1px solid #D8644F;
    position: relative;
}

.tab-btns .btns:hover::before,
.tab-btns .btns:focus::before {
    background-color: rgb(255 255 255 / 10%);
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.tab-btns .btns.active {
    background: none;
    color: #D8644F;
}