* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primarycolor: #D8644F;
    --white: #f9f9f9;
    --black: #2e2e2e;

}

/* Text Styling */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin-bottom: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    background-color: var(--white);
    color: var(--black);
}

.btn {
    background-color: var(--primarycolor);
    color: var(--white);
    font-weight: 600;
    text-transform: uppercase;
    border: 1px dashed var(--primarycolor);
    cursor: pointer;
    transition: .1s all ease-in-out;
    padding: 10px 20px;
}

.btn:hover {
    background-color: transparent;
    color: var(--primarycolor);
}

/* Icon Button */
.icon-btn {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: none;
    overflow: hidden;
    padding: 2px;
    display: inline-block;
    margin: 0px;
}

.icon-btn>img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    cursor: pointer;
}

/* Main Section */
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.section {
    display: block;
    width: 100%;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 10%);
    padding: 20px;
    border-radius: 5px;
    max-width: 450px;
}

.section h1 {
    text-align: center;
    color: var(--primarycolor);
    margin-bottom: 10px;
}

.alert {
    text-align: center;
    background-color: rgb(0 0 0 / 10%);
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 3px;
    padding-top: 2px;
    margin-bottom: 10px;
}

.alert-success {
    color: #42ba96;
    background-color: rgb(66 186 150 / 20%);
    border-color: rgb(66 186 150 / 25%);
}

.alert-danger {
    color: #dc3545;
    background-color: rgb(220 53 69 / 20%);
    border-color: rgb(220 53 69 / 25%);
}

/* Todo Form Styling */
.todo-form {
    width: 100%;
    display: flex;
}

.todo-form .input-list {
    flex: 1;
    outline: none;
    padding: 5px 10px;
    font-size: 1rem;
    border: 1px solid #adb5bd;
}

/* TodoList Styling */
.todo-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(216 100 79 / 5%);
    background-color: rgb(216 100 79 / 10%);
    padding: 5px;
    margin: 10px 0px;
    border-radius: 4px;
}

.todo-list:hover {
    background-color: rgb(216 100 79 / 15%);
}