* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primarycolor: #D8644F;
    --white: #f9f9f9;
    --black: #2e2e2e;

}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    background-color: var(--white);
    color: var(--black);
}

.btn {
    background-color: var(--primarycolor);
    color: var(--white);
    font-weight: 500;
    text-transform: capitalize;
    border: 1px dashed var(--primarycolor);
    cursor: pointer;
    transition: .1s all ease-in-out;
}

.btn:hover {
    background-color: transparent;
    color: var(--primarycolor);
}

/* Icon Button */
.icon-btn {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: none;
    overflow: hidden;
    padding: 2px;
    display: inline-block;
    margin: 0px;
}

.icon-btn>img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    cursor: pointer;
}

/* Main Section */
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.section {
    display: block;
    width: 100%;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 10%);
    padding: 20px;
    border-radius: 5px;
    max-width: 450px;
}