* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primarycolor: #D8644F;
    --white: #fff;
    --black: #000;
    --gray: #f9f9f9;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    font-size: 1rem;
    background-color: var(--gray);
}


/* Navbar Styling */
.navbar {
    background-color: var(--white);
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
}

.nav-header {
    padding: 10px 0px;
}

.logo {
    max-width: 200px;
    display: block;
}

.logo>img {
    width: 100%;
}

.toggle-btn {
    width: 30px;
    display: none;
    cursor: pointer;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    display: flex;
    gap: 10px;
    height: 100%;
}

.navbar-nav .nav-item {
    list-style: none;
}

.navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: var(--black);
    text-transform: capitalize;
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--white);
    background-color: var(--primarycolor);
}