* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primarycolor: #D8644F;
    --white: #fff;
    --black: #000;
    --gray: #f9f9f9;
    --tranparent: tranparent;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    font-size: 1rem;
    background-color: var(--gray);
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;
}

.btn-primary {
    background-color: var(--primarycolor);
    color: var(--white);
    border: 1px dashed var(--primarycolor);
}

.btn-primary:hover {
    background-color: var(--tansparent);

}

.btn-white {
    color: var(--white);
    border: 1px dashed var(--white);
}

.btn-white:hover {
    color: var(--primarycolor);
    background-color: var(--white);
    border-color: var(--primarycolor);
}


/* Navbar Styling */
.navbar {
    background-color: var(--white);
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
}

.nav-header {
    padding: 10px 0px;
}

.logo {
    max-width: 200px;
    display: block;
}

.logo>img {
    max-width: 100%;
}

.toggle-btn {
    width: 30px;
    display: none;
    cursor: pointer;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    display: flex;
    gap: 10px;
    height: 100%;
}

.navbar-nav .nav-item {
    list-style: none;
}

.navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: var(--black);
    text-transform: capitalize;
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--white);
    background-color: var(--primarycolor);
}


/* Hero Section Start Here */
main {
    background-image: url('./images/bg-img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(0 0 0 / 20%);
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100vh;
    color: var(--white);
}

/* Hero Section End Here */

/* Madia Quries */
@media (max-width: 776.98px) {
    .navbar {
        flex-direction: column;
        gap: 0px;
        padding: 0px;
    }

    .nav-header {
        padding: 10px 20px;
    }

    .toggle-btn {
        display: block;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav .nav-item .nav-link {
        justify-content: start;
        padding-left: 25px;
    }
}